.table-striped {
  tbody {
    background: $white;
  }
}

.table-responsive {
  border: 0;
}

.table {
  thead {
    @extend .text-dimbo;
    @extend .text-epic;
    font-size: 1.6em;
    -webkit-font-smoothing: antialiased;
  }
}

.table-epic {
  .table {
    border-collapse:separate;
    border-spacing: 0 10px;

    td {
      background: transparentize($white, .5);
      border: 0;
      vertical-align: middle;

      &:first-child {
        text-align: right;
        a {
          display: inline-block;
        }
      }
    }
    th {
      border: 0;
    }
    tr {
      padding-bottom: 20px;
    }
  }

  &.table-themes {
    .table {
      tr:not(:first-child) {
        td:first-child {
          text-align: left;
        }
      }
      tr:first-child {
        background: $sunglow;
        td {
          background: none;

          &:first-child:before {
            content: 'MAIN THEME IS';
            @extend .text-epic;
            @extend .text-dimbo;
            font-size: 30px;
            display: block;
          }
        }
      }
    }
  }


  .text-dimbo {

    a {
      color: $text-color;
      font-size: 30px;
    }
  }
}
