<div class="container">
  <div class="row">
    <div class="spacer"></div>
    <div class="col-sm-12 text-center">
        <h2 class="no-margin-bottom text-francbord">REGISTRATIONS FOR THE LIVE EVENT</h2>
      <div class="banner-black well">
        <div class="btn btn-success">- REGISTER NOW @NIFF -</div>
        <h2 class="h1 text-epic no-margin-bottom">OPEN UNTIL MAY 7TH</h2>
      </div>
    </div>
    <div class="spacer"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p>Le quartier général de la jam se trouve en Suisse, à Neuchatel. C’est précisement à la Case à Chocs que se dérouleront le coeur des festivités, là où une cinquantaine de jammers se livreront corps et âme dans la réalisation épique de leurs jeux.</p>

      <p>Les places disponibles y sont malheureusement en nombre limité. Cependant, libre à vous d’organiser d’autres rassemblement physiques là où ça vous chante afin de réunir d’autres intéressés. N’hésitez pas à communiquer via <a href="http://twitter.com/epicgamejam">@EpicGameJam</a> pour vous retrouver!</p>

      <div class="spacer spacer-sm"></div>

      <h2 class="text-epic">MORE INFORMATIONs</h2>

      <div class="well well-white"><span class="h3">COSTS: </span>Free!</div>
      <div class="well well-white"><span class="h3">FOOD AND DRINKs: </span><p>No need to worry about that : you will be fed and hydrated ! We will provide you with free liquids (coffee, Redbull, beer, … water), as well as with free solid food during the whole weekend. </p></div>
      <div class="well well-white"><span class="h3">SLEEPING: </span><p>With so little time at hand, are you really thinking of sleeping ? We nevertheless have solutions for those who come from afar or are longing for a cat nap. For more information: hello@epicgamejam.com </p></div>
      <div class="well well-white">
      <div class="media">
        <div class="media-left">
          <a href="https://www.google.ch/maps/place/Case+%C3%A0+chocs/@46.989163,6.921929,17z/data=!4m6!1m3!3m2!1s0x478e0a0c40d87cff:0x2879e0e4c817cb96!2sCase+%C3%A0+chocs!3m1!1s0x478e0a0c40d87cff:0x2879e0e4c817cb96">
            <img class="media-object" src="" alt="map of the place">
          </a>
        </div>
        <div class="media-body">
          <h3 class="media-heading">LOCATION: </h3>
          <address>
            <strong>Case à Chocs<br>
            Quai Philippe-Godet 20<br>
            2000 Neuchâtel</strong>
          </address>
          <p>Short distance from the main railway station, the Festival, the city center and the lakeside.</p></div>
        </div>
      </div>

    </div>
  </div>
</div>
