<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <div class="media">
        <div class="media-left">
          <img class="media-object" src="..." alt="...">
        </div>
        <div class="media-body">
          <p>Cette inscription n’est nécessaire que pour les jammers désireux de participer à l’événement Live se déroulant à Neuchatel. Si vous participez à la jam ailleurs, il suffira simplement de vous créer un compte sur le site le moment venu.</p>
        </div>
      </div>

      <div class="spacer"></div>

      <div class="media">
        <div class="media-left">
          <img class="media-object" src="..." alt="...">
        </div>
        <div class="media-body">
          <h4 class="media-heading h1">EPIC, EVEN BEFORE IT BEGINS.</h4>
          <p>L’Epic Game Jam, c’est l’occasion de se lâcher et de faire un truc un peu différent qui ne se prend pas forcément au sérieux. Dans ce cas-là, pourquoi ne pas commencer dès l’inscription?!</p>
          <p>Motivés par cette idée, nous avons décidé de rendre l’inscription à l’événement un peu plus épique.</p>
        </div>
      </div>

      <div class="spacer"></div>

      <div class="well banner-black text-center">
        <h2 class="h1 text-epic">POUR VOUS INSCRIRE À L’ÉVÉNEMENT,<br>
          ENVOYEZ-NOUS UNE CARTE POSTALE À</h2>
      </div>

      <div class="spacer spacer-sm"></div>

      <div class="media">
        <div class="media-left">
          <img class="media-object" src="..." alt="...">
        </div>
        <div class="media-body">
          <h4 class="media-heading">EPIC GAME JAM<br>
          Caroline Hirt<br>
          rue Jean-Violette 29<br>
          1205-Genève</h4>

        </div>
      </div>
      <div class="spacer"></div>
      <p>Au recto, merci de nous faire parvenir les informations suivantes:</p>

      <ul>
          <li>Nom / Prénom</li>
          <li>Équipe (si vous souhaitez venir en équipe)</li>
          <li>Ville / Adresse</li>
          <li>Profession</li>
          <li>Ce que vous souhaitez faire durant l’EGJ, à savoir<br><b>a) Graphisme b) Code c) Sound Design d) Autre</b> </li>
          <li>E-mail</li>
      </ul>

      <h3 class="h1 text-center text-epic">- INCRIPTIONS OUVERTES JUSQU’AU 7TH JUNE -</h3>

      <p>Le cachet de la poste faisant foi. Les participants recevront dans les jours qui suivront un e-mail de confirmation de leur participation.</p>

      <p>On se réjouit de découvrir les merveilles qui atteriront dans notre boîte aux lettres, alors foncez!</p>

    </div>
  </div>
</div>
