.form-control {
  width: auto;
  &.chosen-container {
    padding: 0;
    border: none;
  }
}

.form-actions {
  margin-top: $padding-large-vertical;
}

.form-item.form-group {
  label {
    display: inline;
  }
}

// Password strength/match.
.form-type-password-confirm {
  position: relative;
  label {
    display: block;
    .label {
      float: right;
      margin-right: 10px;
    }
  }
  .password-help {
    padding-left: 2em;
    @media only screen and (min-width: $screen-sm-min) {
      border-left: 1px solid $table-border-color;
      left: percentage(6/12);
      margin-left: ($grid-gutter-width / 4);
      position: absolute;
    }
    @media only screen and (min-width: $screen-md-min) {
      left: percentage(4/12);
    }
  }
  .progress {
    background: transparent;
    border-radius: 0 0 5px 5px;
    box-shadow: none;
    height: 4px;
    margin: -5px 0px 0;
  }
  .form-type-password {
    clear: left;
  }
  .help-block {
    clear: both;
    font-size: .8em;
  }
}

.has-feedback label ~ .form-control-feedback {
  top: 23px;
  right: 21px;
}
