.view-games {
  .views-row:nth-child(3n+1) {
    .oblique-wrapper {
      &:before {
        background: $viking;
      }
    }
  }
  .views-row:nth-child(3n+2) {
    .oblique-wrapper {
      &:before {
        background: $lightning-yellow;
      }
    }
  }
  .views-row:nth-child(3n+3) {
    .oblique-wrapper {
      &:before {
        background: $sunglow;
      }
    }
  }
}

.game-thumbnail {
  .thumbnail-points {
    margin: -1.7em 3px 0;
    font-size: 2em;
    > a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}
