.navbar-default {
  position: relative;
  z-index: 20;
  border: none;

  &.container {
    @media only screen and (min-width: $screen-sm-min) {
      padding: 0;
    }
  }

  .epicon {
    &:before {
      margin-right: 3px;
    }
    @media only screen and (min-width: $screen-sm-min) {
      &:before {
        transition: all .25s;
        font-size: 30px;
        position: absolute;
        left: 0;
        top: -20px;
        width: 100%;
        text-align: center;
      }
      &:hover {
        &:before {
          font-size: 40px;
          top: -32px;
        }
      }
    }
  }

  @media only screen and (max-width: $screen-sm-max) {
    .navbar-collapse {
      padding: 0 15px;
    }
  }

  @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    padding-bottom: 38px;

    .navbar-nav > li {
      padding-top: 38px;
    }
  }
}

.navbar-collapse {
  padding: 0;
}
