.reddit {
  background: $nero;
  margin-bottom: 15px;
  padding: 4px;

  .list-badges {
    float: right;

    img {
      width: 50px;
      margin: 0 15px;
    }
  }
  .field-label {
    position: relative;
  }
  .field-genre {
    position: relative;

    a {
      color: $nero;
      text-shadow: none;
    }
  }

  .epic-points {
    position: relative;
    z-index: 1;
  }

  .epic-points > a {
    margin-top: -1.25em;
    display: inline-block;
    line-height: 0.9;
    transition: .2s;

    @media only screen and (min-width: $screen-sm-min) {
      font-size: 2em;
    }
    @media only screen and (min-width: $screen-md-min) {
      font-size: 3em;
    }
    &:hover {
      text-decoration: none;
      margin-left: 5px;
    }
  }

  .oblique-wrapper {
    position: relative;
    z-index: 1;
  }

  .field-image {
    img {
      transition: .2s;
    }
    a:hover {
      img {
        opacity: .7;
      }
    }
  }
}
