.vertical-tabs-list {
  @extend .nav-stacked;
  @include make-sm-column(3);
  border-bottom: 0;

  & > li {
    + li {
      margin-top: 0;
    }
    > a {
      border-right: 1px solid #ccc;
      border-radius: 4px 0 0 4px;
      &:hover {
        border-color: transparent #ccc transparent transparent;
      }
    }
  }

  & > li.active > a {
    z-index: 999;
    &, &:hover {
      border: 1px solid #ccc;
      border-right-color: transparent;
    }
  }
}
