<div class="thumbnail thumbnail-dark game-thumbnail">
  <div class="oblique-wrapper">
    {{> heading level=3 content="Ceci est un titre particulièrement long parce qu'on adore ça ©Epic Game Jam"}}
  </div>
  {{> image source="https://unsplash.it/500/500/?random" }}
  <div class="thumbnail-points">
    <span class="text-dimbo text-epic text-huge">345</span> <span class="text-epic text-dimbo text-uppercase text-middle"><span class="text-viking">e</span><span class="text-sunglow">p</span><span class="text-lightning-yellow">i</span><span class="text-viking">c</span> <span class="text-sunglow">p</span><span class="text-lightning-yellow">o</span><span class="text-viking">i</span><span class="text-sunglow">n</span><span class="text-lightning-yellow">t</span><span class="text-viking">s</span></span>
    <ul class="list-inline">
      <li>{{> image source="https://unsplash.it/50/50/?random" }}</li>
      <li>{{> image source="https://unsplash.it/50/50/?random" }}</li>
      <li>{{> image source="https://unsplash.it/50/50/?random" }}</li>
    </ul>
  </div>
</div>
