/*doc
---
title: Rate Widget
name: a-rate-widget
category: Components - Rate
---

```html_example
<div class="rate-widget rate-average rate-widget-number_up_down rate-processed">
  <a class="rate-button rate-number-up-down-btn-up rate-voted" href="#">
    <i class="fa fa-chevron-up"></i>
  </a>
  <div class="rate-number-up-down-rating positive">+2</div>
  <a class="rate-button rate-number-up-down-btn-down" href="#">
    <i class="fa fa-chevron-down"></i>
  </a>
</div>
```

*/

.rate-widget {
  .rate-number-up-down-btn-up { color: $brand-success; }
  .rate-number-up-down-btn-down { color: $brand-danger; }
  a:not(.rate-voted) {
    color: $text-muted;
  }
  .negative {
    color: $brand-danger;
  }
  .thumbnail & {
    position: absolute;
    bottom: 4px;
    right: 4px;
  }
}
