// Fix handle not being displayed entirely on draggable elements
a.tabledrag-handle .handle {
  height: 22px;
  width: 22px;
}

// fix automatic padding height when admin_menu is visible
body.admin-menu {
  margin-top: 29px !important;
}

#admin-menu {
  z-index: 999999;
}

// fix login form for chosen dropdown
#auth_box #middle_part {
  overflow: visible;
}